.centralizar{
    text-align: center;
}

.center-body{
    margin-bottom: 200px;
    width: 600px;
    margin: 0 auto;
}

.orange{
    background-color: #ff6624;
}

.yellow{
    background-color: #ffa834;
}
 div th{
     background-color: #ff6624;
}

 .espacamento{
    margin: 5px;
}